body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1d2671, #c33764);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
}

/* Particle animation setup */
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background::after {
    content: '';
    position: absolute;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    animation: particles 6s infinite;
}

@keyframes particles {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-50%, -50%); }
    100% { transform: translate(0, 0); }
}

/* Container Styles */
.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80vw;
    max-width: 500px;
    min-width: 320px;
    box-sizing: border-box;
    display: block;
}

#login-section, #create-account-section {
    margin-top: 20px;
}

#login-section {
    padding-bottom: 10px;
}

/* Hidden element class */
.hidden {
    display: none;
}

/* Input field styles */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    transition: all 0.3s;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

input::placeholder {
    color: #bbb;
    opacity: 1;
}

/* Button Styles */
button {
    width: 80%;
    padding: 14px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    background-color: #c33764;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

button:hover {
    background-color: #1d2671;
}

button:active {
    background-color: #bb2961;
}

/* Text Styles */
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
  }

p {
    font-size: 14px;
}

/* Link Styles */
/* Create account link */
#create-account-link {
    color: #bbb;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

#create-account-link:hover {
    color: white;
    text-decoration: underline;
}

#back-to-login-link {
    color: #bbb;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

#back-to-login-link:hover {
    color: white;
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .container {
        width: 90vw;
        padding: 20px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 80vw;
    }
}